
@font-face {
    font-family: "Montserrat";
    font-stretch: normal;
    font-weight: 500, 700;
    src: url(/fonts/Montserrat/Montserrat-VariableFont_wght.ttf)
    
}

@font-face {
    font-family: "Fraunces";
    font-stretch: normal;
    font-weight: 500, 700;
    src: url(/fonts/Fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf);
}




.fondo{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}


.container{
    display: flex;
    width: 600px;
    height: 450px;
    border-radius: 10px;
    overflow: hidden;
    

}

.imagen{
    background-image: url(images/image-product-desktop.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
}

.informacion{
   width: 240px;
    padding: 20px 30px;
}

p{
    font-family: "Montserrat";
    font-size: 14px;
}

.categ{
    font-size: 11px;
    color:hsl(228, 12%, 48%);
    font-weight: 500;
    letter-spacing: 0.1em;
    
}

h1{
    font-family: "Fraunces";
    font-size: 32px;
    font-weight: 700;
    margin: 20px 0;
    line-height: 32px;
}

.descripcion{
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 500;
    color: hsl(228, 12%, 48%);
    margin: 20px 0;
    line-height: 23px;
}

.precio{
    display: flex;
}

.precio h2{
    font-family: "Fraunces";
    font-size: 32px;
    font-weight: 700;
    margin-top: 5px;
    margin-right: 20px;
    color: hsl(158, 36%, 37%);
}

.precio p{
    
    font-size: 13px;
    font-weight: 500;
    color: hsl(228, 12%, 48%);
    text-decoration: line-through;
    margin-top: 15px;
}


button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(158, 36%, 37%);
    color: white;
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    width: 240px;
    height: 45px;
    position: absolute;
}

img{
    
    width: 15px;
    height: 15px;
    margin-right: 10px;
}

button:hover{
    background-color: hsl(158, 42%, 18%)
}


@media (max-width: 375px) {


    .container{
        width: 95%;
        height: 90%;
        flex-direction: column;

    }


    .imagen{
        background-image: url(images/image-product-mobile.jpg);
        width: 100%;
        height: 40%;
    }

    .informacion{
        width: auto;
        height: auto;
        padding: 10px 22.5px;
    }

    .descripcion{
        font-size: 14px;
        text-align: start;
        margin-top:  15px;
        margin-bottom: 0px;

    }

    h1{
        margin: 12px 0px;

    }

    .precio{
        height: 50px;
        margin: 10px 0px;
    }



    button{
        position: absolute;
        width: 300px;
    }


    /*
    .container{
        width: 100%;
        height: 100%;
        flex-direction: column;
    }

    .imagen{
        width: 100%;
        height: 300px;
    }

    .informacion{
        width: 100%;
        padding: 20px;
    }


    */
}